DB_HOST = "localhost"
DB_PORT = "5432"
DB_USER = "postgres"
DB_PASSWORD = "your_pwd"
DB_NAME = "nlm"

BOT_DIR = "./bot"
BOT_TASKS_DIR = "./bot/tasks"
BOT_DATABASE_FILE = "./bot/database.json"
BOT_RUN_CMD = "pnpm serve"
BOT_RESULT_FILE = "./bot/result.json"

STORAGE_TEMP_DIR = "./storage-temp"
STORAGE_CONFIG = [
	{ Key = "oss", Driver = 1, Expensive = false, StorageName = "oss", BaseDir = "/nlm/storage", PublicUrlBase = "https://example.com/oss/nlm/storage" }
]